
        body {
            background-color: #035090;
            color: #ffffff;
            font-family: "OpenSans";
            overflow-x: auto;
            max-width:60cm;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        h2 { color: #e18433;
            text-align: center;
            font-size: 300%;
        }
        form {
            text-align: left;
        }
        input:valid{
            background: rgb(224, 247, 255);
        }
        input:not(:valid){
            background: rgb(255, 198, 192);
        }
        input {
            display: block;
            font-size: 150%;
            padding: 10px 20px;
            margin-bottom: 20px;
            margin-left: 7%;
            width: 80%;
            height: 30px;
            max-width: 99%;
            height: 30px;
            color: black
        }
        #message {
            font-size: 300%;
            display: block;
            padding: 10px 20px;
            margin-bottom: 20px;
            margin-top: 20px;
            margin-left: 7%;
            width: 80%;
            height: 200px;
        }
        button {
            background-color: #ffffff;
            color: black;
            font-size:150%;
            width: 8%;
            height: 200%;
            min-width:3cm;
            min-height:1.4cm;
            margin-bottom: 20px;
            margin-left: 7%;
            margin-top: 10px;
            
        }
        button:hover {
            color: #c7c7c7
        }
        hr.solid {
        border-top: 3px solid #e18433;
        }
        .tableContainer{
            overflow: hidden;
        }   
        table {
            width:99%;
            background-color: #2569a0;
            border: 2px solid #e18433;
            border-collapse: collapse;
            font-size: 150%;
        }
        thead {
            color: #e18433;
            font-weight:100;
        }
        #tableMainHead {
            color: #e18433;
            background-color: #035090;
            border: 1px solid white;
            border-collapse:separate;
            padding: 35px;
            font-size:180%;
            width: 99%;
        }
        th {
            font-size:large;
            border: 1px solid white;
            font-size:110%;
            padding: 10px;
            width: 12% 
        }
        td {
            border: 1px solid white;
            padding: 10px;
            font-size:100%;
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        #tableIdNr{
            width: 3%;
        }




        /*
        
        */
